body {
   background-image: url('../imgs/88532181_9999520.jpg');
}
h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows:repeat(autofill, minmax(100px, 1fr));
}
h1{
        text-align: center;
    color: white;
    font-size: 30px;
    position: relative;
    top: -20px;
    left: 0%;
    border: 1px solid white;
    width: fit-content;
    padding: 4px 6px;
    font-weight: bold;
}
i{
    z-index: 100;
    width: 100px;
    color: black;
}
.stteng{
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stteng img{
    position: absolute;
    right: 0px;
    top: -60px;
    
}
#stting{
    cursor: pointer;
    display: contents;
}
.sub-set{
    display: none;
   position: absolute;
    top: 50px;
    width: 490px;
    height: 700px;
    z-index: 1000;
    background: rgb(0 0 0 / 40%);
    border: 1px solid transparent;
    border-radius: 30px;
    gap: 80px;
}
.sub-item a{
   background-color: darkslategrey;
    padding: 14px 85px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    position: relative;
    left: 85px;
    top: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 320px;
    text-align: center;
    margin-bottom: 65px;
}
.sub-item span{
   background-color: darkslategrey;
    padding: 14px 85px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    position: relative;
    left: 85px;
    top: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 320px;
    text-align: center;
    margin-bottom: 65px;
    cursor: pointer;
}
.sub-set h6{
    font-weight: bold;
    font-size: 45px;
    color: white;
    padding: 20px;
    text-align: center;
}
/* .set-btn{
   position: absolute;
    left: 65px;
    width: 153px;
    height: 50px;
    border: 1px solid white;
    border-radius: 31px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
} */

.clos{
    background: transparent;
    border: none;
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
}
#continue-el{
   width: 490px;
    height: 130px;
    background: transparent;
    border: none;
}
/***/
.card{
    margin: 0px 0px 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.card-img{
    width: 160px;
    border-radius: 15px;
}

.cone{
    width: 160px;
    border-radius: 10px;
}