body{
    background-image: url('../imgs/6640321_23138.jpg');
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: relative;
   text-align: center;
    color: peachpuff;
    font-size: 3rem;
    margin-top: 20px;
    text-shadow: 8px 5px 11px rgba(54, 35, 161, 3.7);
    text-emphasis: triangle open;
    top: -105px;
    left: 40px;
}
.start-cont{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.bbgh{
   position: relative;
    background-color: #00000059;
    color: white;
    padding: 18px 116px;
    border: 1px solid #1a48af5c;
    border-radius: 31px;
    backdrop-filter: blur(8px);
    top: -8px;
    left: 15px;
    margin-bottom: 79px;
    box-shadow: 2px -1px 10px 0px #3965b9;
    cursor: pointer;
}
.bbgh:hover{
    background-color: #20202059;
    transition: 0.3s ease;
}
.bbgh button{
    background: none;
    color: whitesmoke;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.bbgh button:focus{
    outline: none;
}
.bbgh button:hover{
    color: #1a48af;
    transition: 0.3s ease;
}
.bbgh button:active{
    transform: scale(0.95);
}
